<div class="justify-content-start avatar-column">
  <div class="comment-avatar"><%= gravatar_for current_user %></div>
</div>
<div class="justify-content-start ml-2 mess-buble">
  <div class="font-weight-bold"><%= current_user.name %></div>
  <div><%= @comment.cmt %></div>
</div>
</div>
