.custom-navbar{
  height: 70px;

  background: #fff;
  .navbrand-color{
  	color: $theme-color;
  }
  div.icon-nav>a:hover{
    text-decoration: none;
  }

  .icon-nav{
    .img-fluid{
      width: 30px;
      height:30px;
    }
  }
  .brand-postition{
    margin-left: -5px;
  }
  .brand-postition:hover{
    color:$theme-color;
  }

  .navbar-brand{
    font-size: 25px;
  }

  .dropdown-menu{
    min-width: auto;
  }

  h5#dropdownMenuButton {
    margin: 0;
    padding: 0;
    color: $theme-color;
    user-select: none;
  }

  h5#dropdownMenuButton:hover{
    cursor: pointer;
    border-radius: 5px;
  }

  @media(min-width:600px){
    h5#dropdownMenuButton:hover{
      background-color: #f3f3f3;
      border-radius: 5px;
      padding:20px;
    }

    h5#dropdownMenuButton {
      padding:20px;
    }
  }

  @media  (max-width: 315px){
    .navbar-brand{
      display: none;
    }
  }
}
