.signup{
  .jumbotron{
    background-image: url("Books_for_Wanderers_Featured.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 95vh;
    margin:0;
    padding-top:10vh;
  }

  .replace-form-title{
    display: none;
  }

 @media(max-width: 550px){
    .title-form{
      display: none;
    }

    .replace-form-title {
      display: inline;
    }
  }

  @media(max-height: 750px){
    .jumbotron{
      height: 105vh;
    }

    .title-form{
      display: none;
    }

    .replace-form-title {
      display: inline;
    }
  }

  @media(max-height: 450px){
    .jumbotron{
      height: 150vh;
    }

    .title-form{
      display: none;
    }

    .replace-form-title {
      display: inline;
    }
  }

}
