.list-post{
  $content-background: #212529;
  background-image: url("bg.png");
  background-size: cover;
  min-height: 100vh;
  .post-part{
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
  }


  .post-row{
    padding:5px;
  }

  .card{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .gravatar{
    border-radius: 50%;
  }

  .user-avatar{
    width: 60px;
    height: 60px;
    margin:5px;
  }

  a.btn-toolbar{
    padding:0;
  }

  .card-header{
    padding: 0;
    background-color: #fff;
  }

  .comment-btn{
    padding-right:0;
    color: #007bff;
  }

  .edit-btn{
    padding:0;
  }

.show-comment-block
  .delete-btn{
    padding-left:0;
    color: #007bff;
  }

  .save-btn button{
    color: #007bff;
    background-color: transparent;
    padding:0;
    margin: 0;
  }

  .form-row {
    margin: 0;
  }

  .btn-more{
    padding:0;
  }

  .btn-more-change:focus{
    background: $theme-color;
  }

  @media(max-width: 498px){
    .hide-action{
      display: none;
    }
  }
}
